
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header {
    display: flex;
    align-items:center; /* alinha verticalmente */
    padding: 10px 10px;
    background-color: #3b88758c;
    min-height: 55px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo{
    width:50%;
    magin:10px;
    display: flex;
    justify-content:flex-start; 
    flex-grow: 3;
}
.logo img{
    width: 90px;
    height: auto;
    margin: 10 px;
    
}

.links-menu {
    display: flex;
    justify-content: flex-end 
    flex: 1;
    margin: 10px
    

}

.links-menu a {
    font-size: 15px
}

h3{
    font-size: 15px;     /* tamanho da fonte */
    color: #333;         /* cor */
    font-weight: 600;
    text-align: center; 
    text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    margin-top: 10px;

}


a{
    text-decoration: none;
    color:rgb(251, 246, 246);
    font-size: 16px;
    font-weight: 500;
    margin: 10px;
    padding: 5px 10px;
    opacity: 1;

}


a:hover {
    color: #dc3545;
    transition: 0.3s;
}

.login-container {
    width: 320px;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin:auto;
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

input {
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    transition: border 0.2s;
}

input:focus {
    border-color: ##dc3545; /* Rosa delicado */
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #dc3545;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s;
}


#esqueci_senha{
    font-size: 12px;
    text-align: center;
    color:#1a1a1a;
    display:block;
}

#esqueci_senha:hover{
    opacity: 1;
    color:#dc3545;
}

.form-check-label{
    font-size: 12px;
    margin-top: 5px;   /* afasta do topo */
    margin-left: 10px;  /* afasta da margem esquerda */
    margin-right: 10px;

}

.button-enter {
    width: 110px;
    height: 40px;
    font-size: 10px;
    margin: 5px auto; /* centraliza */
    display: block;
}


.footer {
    background-color: #1a1a1a; 
    color: #fff;
    padding: 30px 0;
    margin-top: 50px; /* distância do conteúdo */
}

.footer-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.footer-logo h2 {
    margin: 0;
    font-size: 24px;
}

.footer-logo p {
    margin-top: 5px;
    font-size: 14px;
    opacity: 0.7;
}

.footer-links {
    margin: 20px 0;
}

.footer-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    opacity: 0.8;
}

.footer-links a:hover {
    opacity: 1;
    color:#dc3545
}

.footer-copy p {
    font-size: 13px;
    opacity: 0.6;
    margin-top: 20px;
}


